Client/Client/Connected Services/HTTP/CompilerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompilerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICompilerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/CompilerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/CompilerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompilerService_CompileCPP_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileCPP" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileCPP_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileCPPResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileCPPWithInput_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileCPPWithInput" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileCPPWithInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileCPPWithInputResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileC_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileC" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileCResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileCWithInput_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileCWithInput" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileCWithInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileCWithInputResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompilePython_InputMessage">
    <wsdl:part name="parameters" element="tns:CompilePython" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompilePython_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompilePythonResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompilePythonWithInput_InputMessage">
    <wsdl:part name="parameters" element="tns:CompilePythonWithInput" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompilePythonWithInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompilePythonWithInputResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileJava_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileJava" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileJava_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileJavaResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileJavaWithInput_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileJavaWithInput" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_CompileJavaWithInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileJavaWithInputResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_ShowAllCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllCode" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_ShowAllCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_GetCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCode" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_GetCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_DeleteCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCode" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_DeleteCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_UpdateCode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCode" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_UpdateCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompilerService">
    <wsdl:operation name="CompileCPP">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompileCPP" message="tns:ICompilerService_CompileCPP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileCPPResponse" message="tns:ICompilerService_CompileCPP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileCPPWithInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompileCPPWithInput" message="tns:ICompilerService_CompileCPPWithInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileCPPWithInputResponse" message="tns:ICompilerService_CompileCPPWithInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileC">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompileC" message="tns:ICompilerService_CompileC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileCResponse" message="tns:ICompilerService_CompileC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileCWithInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompileCWithInput" message="tns:ICompilerService_CompileCWithInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileCWithInputResponse" message="tns:ICompilerService_CompileCWithInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompilePython">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompilePython" message="tns:ICompilerService_CompilePython_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompilePythonResponse" message="tns:ICompilerService_CompilePython_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompilePythonWithInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompilePythonWithInput" message="tns:ICompilerService_CompilePythonWithInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompilePythonWithInputResponse" message="tns:ICompilerService_CompilePythonWithInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileJava">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompileJava" message="tns:ICompilerService_CompileJava_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileJavaResponse" message="tns:ICompilerService_CompileJava_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileJavaWithInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/CompileJavaWithInput" message="tns:ICompilerService_CompileJavaWithInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileJavaWithInputResponse" message="tns:ICompilerService_CompileJavaWithInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/ShowAllCode" message="tns:ICompilerService_ShowAllCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/ShowAllCodeResponse" message="tns:ICompilerService_ShowAllCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/GetCode" message="tns:ICompilerService_GetCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/GetCodeResponse" message="tns:ICompilerService_GetCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/DeleteCode" message="tns:ICompilerService_DeleteCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/DeleteCodeResponse" message="tns:ICompilerService_DeleteCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/UpdateCode" message="tns:ICompilerService_UpdateCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/UpdateCodeResponse" message="tns:ICompilerService_UpdateCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICompilerService" type="tns:ICompilerService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICompilerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CompileCPP">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompileCPP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileCPPWithInput">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompileCPPWithInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileC">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompileC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileCWithInput">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompileCWithInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompilePython">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompilePython" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompilePythonWithInput">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompilePythonWithInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileJava">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompileJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileJavaWithInput">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/CompileJavaWithInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllCode">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/ShowAllCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCode">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/GetCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCode">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/DeleteCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCode">
      <soap12:operation soapAction="http://tempuri.org/ICompilerService/UpdateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICompilerService" type="tns:ICompilerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompileCPP">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompileCPP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileCPPWithInput">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompileCPPWithInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileC">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompileC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileCWithInput">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompileCWithInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompilePython">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompilePython" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompilePythonWithInput">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompilePythonWithInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileJava">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompileJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileJavaWithInput">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/CompileJavaWithInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllCode">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/ShowAllCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCode">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/GetCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCode">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/DeleteCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCode">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/UpdateCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompilerService">
    <wsdl:port name="NetTcpBinding_ICompilerService" binding="tns:NetTcpBinding_ICompilerService">
      <soap12:address location="net.tcp://localhost:8000/CompilerService/CompilerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/CompilerService/CompilerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LUKHI\DARSHAN LUKHI</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICompilerService" binding="tns:BasicHttpBinding_ICompilerService">
      <soap:address location="http://localhost:8888/CompilerService/CompilerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>